<div class="inbox">
  <div class="header">
      <div class="back-button">
          <app-back-button></app-back-button>
      </div>
    <div class="title">
      <p>Profile</p>
    </div>
    <div class="empty">

    </div>
  </div>
  <div class="body">
      <div class="logo">
        <img [src]="'https://uncgmarketplace.com:4443/' + user?.profile_image_path" alt="profile image"/>
      </div>
      <div class="review">
        <div class="top"><p>{{ user?.full_name }}</p></div>
        <div class="bottom">
          <div class="bottomtop"><div class="rating">★★★★★</div></div>
          <div class="bottombottom"><p><strong>{{ user?.rating?.toFixed(1) }}</strong> ({{ user?.total_ratings || 0 }} reviews)</p></div>
        </div>
      </div>
      <div class="buttons">
        <div class="buttonOne" (click)="product()"><app-custom-button buttonName="Add New Listing"></app-custom-button></div>
        <div class="buttonTwo" (click)="viewListings()"><app-custom-button buttonName="View All Listings"></app-custom-button></div>
        <div class="buttonThree" (click)="logOut()"><app-custom-button buttonName="Log Out"></app-custom-button></div>
      </div>
  </div>
</div>
