.inbox {
    width: 80%;
    margin: auto;
    margin-top: 8em;
    display: flex;
    flex-direction: column;
    padding: 1%;
    .header {
        border-bottom: 1px solid black;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 7em;
        .back-button {
            display: flex;
        }
        .title {
            vertical-align: middle;
            display: flex;
            font-size: 30px;
        }
        .empty {

        }
    }
    .body {
        display: flex;
        flex-direction: column;
        .logo {
            display: flex;
            margin: auto;
            margin-bottom: 1em;
            img {
                width: 15em;
            }
        }
        .review{
            display: flex;
            margin: auto;
            width: 50%;
            padding: 1em;
            flex-direction: column;
            .top {
                display: flex;
                margin: auto;
                p {
                    font-size: 33px;
                    font-weight: bold;
                }
            }
            .bottom { 
                display: flex;
                flex-direction: row;
                margin: auto;
                .bottomleft{
                    display: flex;
                    margin-right: 3em;
                    .rating {
                        font-size: 20px; /* Increase the font-size value */
                        color: #ffc107;
                        margin-bottom: 10px;
                      }
                }
                .bottomright{
                    display: flex;
                    p {
                        font-size: 17px;
                    }
                }
            }
        }
        .buttons {
            display: flex;
            flex-direction: column;
            margin: auto;
            margin-top: 4em;
            .buttonOne {
                margin: auto;
                margin-bottom: 1em;
            }
            .buttonTwo {
                margin: auto;
                margin-bottom: 1em;
            }
            .buttonThree {
                margin: auto;
            }
        }
    }
}
@media only screen and (min-width: 768px) {
    .inbox {
        width: 50%;
        .body {

        }
    }
}