<header>
  <nav>
    <ul class="title">
      <li><a class="UNC">UNC</a><span class="g-text">G</span> <a class="UNC"> Marketplace</a></li>
    </ul>
  </nav>

  <nav>
    <ul class="nav-links-right">
      <li (click)="chat()"><img src="./assets/chat.svg"></li>
      <li (click)="profile()"><img src="./assets/profile.svg" href="#"></li>
    </ul>
  </nav>
</header>



<!--<div class="navbar " >-->
<!--  <div class="nav">-->
<!--    <ul class="nav-title">-->
<!--      <li><a class="UNC">UNC</a><span class="g-text">G</span> <a class="UNC"> Marketplace</a></li>-->
<!--    </ul>-->
<!--  </div>-->
<!--  <div class="nav-r">-->
<!--    <ul class="nav-links-right">-->
<!--      <li><img src="./assets/chat.svg"></li>-->
<!--      <li>-->
<!--        <img src="./assets/profile.svg" href="#">-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="header">-->
<!--  <div class="title">-->
<!--    <p>Marketplace</p>-->
<!--  </div>-->
<!--  <div class="buttons">-->
<!--    <div class="chat" (click)="chat()">-->
<!--      <img src="./assets/chat.svg" alt="chat">-->
<!--    </div>-->
<!--    <div class="profile" (click)="profile()">-->
<!--      <img src="./assets/profile.svg" alt="profile">-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
