.customButton{
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    cursor: pointer;
    font-size: large;
    transition: all 0.2s ease;
    &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); // Add box shadow on hover
    }

    &:active {
        transform: scale(0.95); // Scale down slightly on click
    }
}