<div class="mainContainer">
    <div class="header">
      <div class="title">
        <p>Verify your Account</p>
      </div>
    </div>
    <div class="body">
        <div class="logo">
            <img src="../../../assets/logo.png" alt="UNCG logo"/>
        </div>
        <div class="content">
            <div class="question">
                <p>Do you authorize and confirm the approval of this account?</p>
            </div>
            <div class="buttons">
                <div class="yesDiv"><button class="btn btn-success" style="font-size: 18px;" (click)="submit(true)">Yes</button></div>
                <div class="noDiv"><button class="btn btn-danger" style="font-size: 18px;" (click)="submit(false)">No</button></div>
            </div>
            <div class="message" *ngIf="message">
                <p>{{ message }}</p>
            </div>
            <app-loading *ngIf="loading"></app-loading>
        </div>
    </div>
  </div>