.mainContainer {
    width: 80vw;
    margin: auto;
    margin-top: 8em;
    display: flex;
    flex-direction: column;
    padding: 1%;
    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: auto;
        border-bottom: 1px solid black;
        .title {
            font-size: 30px;
        }
    }
    .body {
        display: flex;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 8em;
        .logo {
            margin: auto;
            width: 90%;
            margin-bottom: 10em;
            img {
                margin: auto;
                display: flex;
            }
        }
        .content {
            margin: auto;
            margin: 1em;
            width: 80%;
            display: flex;
            flex-direction: column;
            .question {
                display: flex;
                margin: auto;
                p {
                    font-size: 20px;
                    text-align: center;
                }
            }
            .buttons {
                display: flex;
                margin: auto;

                flex-direction: row;
                .yesDiv {
                    margin-top: 3em;
                    display: flex;
                }
                .noDiv {
                    margin-top: 3em;
                    margin-left: 2em;
                }
            }
            .message {
                display: flex;
                justify-content: center;
                margin-top: 2em;
                p {
                    color: black;
                    font-size: 18px;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .mainContainer {
        width: 50vw;
    }
}