<body>
<div class="navbar " >
  <div class="nav">
    <ul class="nav-title">
      <li><a class="UNC">UNC</a><span class="g-text">G</span> <a class="UNC"> Marketplace</a></li>
    </ul>
  </div>

  <div class="nav-r">
    <ul class="nav-links-right">
      <li><a class="UNC" href="#">Inbox</a></li>
      <li>
        <a class="UNC" href="#">Profile</a>

<!--        Create a component for this dropdown -->

<!--        <div class="dropdown-content">-->
<!--          <a (click)="userProfile()">Settings</a>-->
<!--          <a (click)="logout()">Logout</a>-->
<!--        </div>-->
      </li>
    </ul>
  </div>

</div>

<div class="main-container">
  <h1 class="welcome">Welcome to</h1>
  <img src="./assets/UNCG.svg" alt="UNCG Logo" class="logo">

  <h1>MARKETPLACE</h1>

  <div class="search-bar">
    <form (submit)="search()">
      <input type="text" placeholder="Search...">
      <button type="button">Search</button>
    </form>
  </div>

  <div class="information">
    <p>An app for</p>
    <p>UNC Greensboro</p>
    <p>Department of Computer Science</p>
  </div>

</div>

</body>




