@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

$primary-color: #ffeba7;
$secondary-color: #1f2029;
$tertiary-color: #c4c3ca;



body{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  line-height: 1.7;
  color: $primary-color;
  background-color: $secondary-color;
  padding-top: 10px;
  height: 100vh;
}

.main-container{
  text-align: center;

  .welcome{
    color: #ffff;
  }

  h1{
    margin-top: 10px;
    color: #ffb71b;
    font-weight: 600;
    text-shadow:
      -3px -3px 0 #0f2044,
      3px -3px 0 #0f2044,
      -3px  3px 0 #0f2044,
      3px  3px 0 #0f2044;
  }

  .logo{
    max-width: 200px;
    height: auto;

  }

  .search-bar{
    color: black;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
  }

  .search-bar button {
    background-color: #ffb71c;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-left: 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  .campus-image img{
    height: 250px;
    width: 500px;
  }
}


@media only screen and (min-width: 768px) {
    .body {
        width: 50%;
    }
}
