<div class="mainContainer">
  <div class="navheader">
    <div class="left">
        <img src="../../../assets/uncg_emblem.png" alt="">
    </div>
    <div class="right">
        <p *ngIf="messageCount != 0" style="font-size: 16px; color: red; position: absolute;">{{ messageCount }}</p>
        <div class="chat" (click)="chat()">
            <img src="../../../assets/message.png" alt="">
            <p>Inbox</p>
        </div>
        <div class="profile" (click)="profile()">
          <img class="profileImage" *ngIf="user?.profile_image_path" [src]="'https://uncgmarketplace.com:4443/' + user?.profile_image_path" alt="profile image"/>
          <img class="profileImage" *ngIf="!user?.profile_image_path" src="../../../assets/profile.png" alt="">
          <p>Profile</p>
      </div>
    </div>
</div>
  <div class="body">
      <div class="logo">
          <img (click)="allListings()" src="../../../assets/logo.png" alt="UNCG logo"/>
      </div>
      <div class="search">
        <form class="formDiv" (submit)="search()">
          <input class="search" type="text" placeholder="Search Marketplace..." [(ngModel)]="itemSearched"  name="itemSearched">
        </form>
      </div>
      <div class="uncg_image">
        <c-carousel>
          <c-carousel-indicators></c-carousel-indicators>
          <c-carousel-inner>
            <c-carousel-item *ngFor="let slide of slides">
              <img
                [src]="slide.src"
                alt="{{ slide.title }}"
                class="d-block w-100"
                loading="lazy" />
            </c-carousel-item>
          </c-carousel-inner>
        </c-carousel>
    </div>
  </div>
</div>