.listings {
    width: 50%;
    margin: auto;
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    padding: 1%;
    .header {
      border-bottom: 1px solid black;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 4em;
      .back-button {
          display: flex;
      }
      .title {
          vertical-align: middle;
          text-align: center;
          display: flex;
          font-size: 30px;
      }
      .empty {
  
      }
    }
    .body {
      display: flex;
      flex-direction: column;
      .logo {
          display: flex;
          margin: auto;
          margin-bottom: 7em;
      }
      .results {
          display: flex;
          align-items: flex-start; 
          padding: 1em;
          width: 100%; 
          margin: auto;
          flex-direction: column;
  
          app-loading {
            display: flex;
            margin: auto;
          }

          .allListings {
            display: flex;
            margin: auto;
            width: fit-content;
            margin-bottom: 5em;
            app-listing {
              display: flex;
              cursor: pointer; 
            }
          }
  
          p {
              color: gray;
              font-size: 30px;
              text-align: center;
              width: 100%; 
          }
      }
    }
  }
  
  @media only screen and (max-width: 768px) {
    .listings {
        width: 80%;
        margin: auto;
        margin-top: 8em;
        display: flex;
        flex-direction: column;
        padding: 1%;
        .header {
          border-bottom: 1px solid black;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 7em;
          .back-button {
              display: flex;
          }
          .title {
              vertical-align: middle;
              display: flex;
              font-size: 30px;
          }
          .empty {
      
          }
        }
        .body {
          display: flex;
          flex-direction: column;
          .logo {
              display: flex;
              margin: auto;
              margin-bottom: 10em;
          }
          .results {
              display: flex;
              flex-direction: column;
              align-items: flex-start; 
              padding: 1em;
              width: 100%; 
              margin: auto;
      
              .allListings {
                display: flex;
                width: fit-content;
                margin: auto;
                margin-bottom: 10em;
                app-listing {
                  display: flex;
                  cursor: pointer; 
                }
              }
      
              p {
                  color: gray;
                  font-size: 30px;
                  text-align: center;
                  width: 100%; 
              }
          }
        }
      }
  }
  