.listings {
    width: 80%;
    margin: auto;
    margin-top: 8em;
    display: flex;
    flex-direction: column;
    padding: 1%;
    .header {
      border-bottom: 1px solid black;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 7em;
      .back-button {
          display: flex;
      }
      .title {
          vertical-align: middle;
          display: flex;
          font-size: 30px;
      }
      .empty {
  
      }
    }
    .body {
      display: flex;
      flex-direction: column;
      .logo {
          display: flex;
          margin: auto;
          margin-bottom: 10em;
      }
      .results {
          display: flex;
          flex-wrap: wrap; 
          justify-content: space-around;  
          align-items: flex-start; 
          padding: 1em;
          max-width: 1200px; 
          margin: auto;
  
          .allListings {
              flex: 0 1 30%; 
              margin: 10px;
              .card {
                  width: 100%; 
                  cursor: pointer; 
              }
          }
  
          p {
              color: gray;
              font-size: 30px;
              text-align: center;
              width: 100%; 
          }
      }
    }
  }
  
  @media only screen and (max-width: 768px) {
    .listings {
      .body {
        .results { 
          flex-direction: column; 
          .allListings {
              flex-basis: 100%; 
              margin-left: 0;
              margin-bottom: 2em; 
          }
        }
      }
    }
  }
  