.bodydiv {
    display: flex;
    flex-direction: column;
    padding-bottom: 5em;
    .navheader {
        background-color: #0f2044;
        padding-top: 1em;
        padding-bottom: 1em;
        padding-right: 2em;
        padding-left: 2em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .left {
            display: flex;
            width: 40px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .right {
            display: flex;
            .login {
                display: flex;
                align-items: center;
                cursor: pointer;
                padding: 1em;
                img {
                    display: flex;
                    width: 30px;
                    margin: auto;
                }
                p {
                    margin: auto;
                    margin-left: .6em;
                    font-size: 17px;
                    color: #fff;
                    font-family: PlutoSansHeavy, sans-serif;
                    font-weight: 700;
                    text-transform: uppercase;
                }
                &:hover {
                    background-color: #09142a;
                }
            }
        }
    }
    .logo {
        display: flex;
        margin: auto;
        margin-bottom: 4em;
        width: 300px;
        margin-top: 5em;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .info {
        display: flex;
        width: 360px;
        margin: auto;
        p {
            text-align: center;
            font-size: 16px;
            font-weight: 500;
        }
    }
    .disclaimer {
        display: center;
        width: 400px;
        margin: auto;
        p {
            text-align: center;
            font-size: 15px;
            font-weight: 300;
        }
    }
    .uncg_image {
        margin: auto;
        width: 360px;
        margin-top: 2em;
        img {
            width: 100%;
        }
    }
}

@media only screen and (min-width: 768px) {
    .bodydiv {
        display: flex;
        flex-direction: column;
        padding-bottom: 5em;
        .navheader {
            background-color: #0f2044;
            padding-top: 1em;
            padding-bottom: 1em;
            padding-right: 4em;
            padding-left: 6em;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .left {
                display: flex;
                width: 43px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .right {
                display: flex;
                .login {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    padding: 1em;
                    img {
                        display: flex;
                        width: 30px;
                        margin: auto;
                    }
                    p {
                        margin: auto;
                        margin-left: .6em;
                        font-size: 17px;
                        color: #fff;
                        font-family: PlutoSansHeavy, sans-serif;
                        font-weight: 700;
                        text-transform: uppercase;
                    }
                    &:hover {
                        background-color: #09142a;
                    }
                }
            }
        }
        .logo {
            display: flex;
            margin: auto;
            margin-bottom: 4em;
            width: 350px;
            margin-top: 5em;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .info {
            display: center;
            width: 400px;
            margin: auto;
            p {
                text-align: center;
                font-size: 17px;
                font-weight: 500;
            }
        }
        .disclaimer {
            display: center;
            width: 400px;
            margin: auto;
            p {
                text-align: center;
                font-size: 15px;
                font-weight: 300;
            }
        }
        .uncg_image {
            margin: auto;
            width: 600px;
            margin-top: 2em;
            margin-bottom: 2em;
            img {
                aspect-ratio: 3/2;
                width: 100%;
            }
        }
    }
    
}
