<div class="main">
    <div class="header">
        <div class="back-button">
            <app-back-button></app-back-button>
        </div>
      <div class="title">
        <p>Chat</p>
      </div>
      <div class="empty">

      </div>
    </div>
    <div class="body">
        <div class="logo">
            <img src="../../../assets/logo.png" alt="UNCG logo"/>
        </div>
        <div class="chat">
            <div class="info">
                <img src="../../../assets/profile.png" alt="">
                <p>Usman Zia</p>
            </div>
            <div class="messages">
                
            </div>
            <div class="newMessage">
                <input class="message" type="text" placeholder="Chat">
            </div>
        </div>
    </div>
  </div>