<div class="main">
    <div class="header">
        <div class="back-button">
            <app-back-button></app-back-button>
        </div>
      <div class="title">
        <p>Chat</p>
      </div>
      <div class="empty">

      </div>
    </div>
    <div class="body">
        <div class="logo">
            <img src="../../../assets/logo.png" alt="UNCG logo"/>
        </div>
        <div class="chat">
            <div class="info">
                <img class="profileImage" *ngIf="otherUser?.profile_image_path" [src]="'https://uncgmarketplace.com:4443/' + otherUser?.profile_image_path" alt="profile image"/>
                <img class="profileImage" *ngIf="!otherUser?.profile_image_path" src="../../../assets/profile.png" alt="">
                <div class="top"  style="cursor: pointer;" (click)="goToSellerProfile(otherUser?.user_id)"><p><strong>{{ otherUser?.full_name }}</strong></p></div>
            </div>
            <div class="messages" id="messagesContainer">
                <app-loading *ngIf="load"></app-loading>
                <p *ngFor="let msg of allMessages" [ngClass]="{'iSent': msg.sender_id === activeUser?.user_id, 'iReceived': msg.receiver_id === activeUser?.user_id}">{{ msg.message }}</p>
                <p class="timeStamp">Sent: {{ lastTime }}</p>
            </div>
            <div class="newMessage">
                <div class="chatbox">
                    <input class="message" [(ngModel)]="newMessage" type="text" placeholder="Chat" (keyup.enter)="sendMessage()">
                </div>
                <div class="send" (click)="sendMessage()"><img src="../../../assets/arrow.png" alt=""></div>
            </div>
        </div>
    </div>
  </div>