.main {
    width: 80%;
    margin: auto;
    margin-top: 8em;
    display: flex;
    flex-direction: column;
    padding: 1%;
    .header {
        border-bottom: 1px solid black;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 7em;
        .back-button {
            display: flex;
        }
        .title {
            vertical-align: middle;
            display: flex;
            font-size: 30px;
        }
        .empty {

        }
    }
    .body {
        display: flex;
        flex-direction: column;
        .logo {
            display: flex;
            margin: auto;
            margin-bottom: 7em;
        }
        .chat{
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
            display: flex;
            padding: 1em;
            flex-direction: column;
            width: 85%;
            margin: auto;
            overflow-y: auto;
            .info {
                display: flex;
                flex-direction: row;
                align-items: center;
                img {
                    width: 5em;
                }
                p{
                    margin-top: .5em;
                    margin-left: .6em;
                    font-size: 16px;
                }
            }
            .messages {
                min-height: 10em;
                max-height: 20em; // Adjust the maximum height as needed
                padding: 10px; 
                overflow-y: auto; // Add scrollbar when content exceeds container height
                
                p {
                    margin: 5px 0;
                    font-size: 15px;
                    &.iReceived {
                        display: flex;
                        justify-content: start;
                        background-color: #999999;
                        width: fit-content;
                        color: white; 
                        border-radius: 20px;
                        padding: 3px;
                        padding-left: 15px;
                        padding-right: 15px;
                    }
                    &.iSent {
                        display: flex;
                        justify-content: end;
                        background-color: #1F8AFF;
                        color: white; 
                        border-radius: 20px;
                        padding-left: 15px;
                        padding-right: 15px;
                    }
                }
            }
            .newMessage {
                display: flex;
                flex-direction: row;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
                width: 100%;
                align-items: center;
                margin: auto;
                .chatbox {
                    width: 90%;
                    input {
                        font-size: 15px;
                        width: 100%;
                    }
                }
                .send {
                    cursor: pointer;
                    width: 10%;
                    img {
                        width: 2.5em;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 768px) {
    .main {
        width: 50%;
        .body {
            .chat{
                width: 65%;
                margin: auto;
            }
        }
    }
}