<div class="listing">
    <div class="header">
      <div class="back-button">
        <app-back-button></app-back-button>
      </div>
      <div class="title">
        <p><strong>{{ listing.title }}</strong></p>
      </div>
      <div class="empty"></div>
    </div>
    <div class="body" *ngIf="!seller || !listing"><app-loading></app-loading></div>
    <div class="body" *ngIf="seller && listing">
      <div class="logo">
        <img [src]="'https://uncgmarketplace.com:4443/' + listing.images_folder" alt="UNCG logo"/>
      </div>
      <div class="info">
        <div class="infoleft">
            <div class="itemCondition"><p>Condition: <strong>{{ listing.condition }}</strong></p></div>
            <div class="itemPrice"><p>Price: <strong>${{ listing.price }}</strong></p></div>
            <div class="itemDescription"><p>Description: <strong>{{ listing.description }}</strong></p></div>
        </div>
        <div *ngIf="user.user_id != seller.user_id"  class="inforight">
            <div class="inforighttop"><p>Seller Details</p></div>
            <div class="sellerImage"><img src="../../../assets/profile.png" alt=""></div>
            <div class="top"  style="cursor: pointer;" (click)="goToSellerProfile(seller.user_id)"><p><strong>{{ seller.full_name }}</strong></p></div>
            <div class="bottom"><p>Rated: {{ seller.rating | number: '1.0-1' }} / 5<br><span style="color: gray;">Based on {{ seller.total_ratings }} reviews</span></p></div>
        </div>
      </div>
      <div class="messageButton">
        <button *ngIf="user.user_id != seller.user_id" class="message" (click)="sendMessage(user.user_id, seller.user_id, 'Hi, is the '+ listing.title + ' still available?')">Send Message</button>
        <button *ngIf="user.user_id == seller.user_id" class="message" (click)="markSold(listing.id)">Mark as Sold</button>
      </div>
    </div>
  </div>
  
