.listing {
    width: 50%;
    margin: auto;
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    padding: 1%;
    .header {
      border-bottom: 1px solid black;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5em;
      .back-button {
          display: flex;
      }
      .title {
          vertical-align: middle;
          display: flex;
          font-size: 30px;
      }
      .empty {
  
      }
    }
    .body {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        .logo {
            border: 1px solid black;
            display: flex;
            margin: auto;
            margin-bottom: 1em;
            img {
                width: 80%;
                margin: auto;
            }
        }
        .info {
            display: flex;
            flex-direction: row;
            font-size: 18px;
            .infoleft {
                border: 1px solid black;
                display: flex;
                flex-direction: column;
                width: 50%;
                padding: 1em;
                img {
                    width: 5em;
                }
                .itemCondition {

                }
                .itemPrice {

                }
                .itemDescription {

                }
            }
            .inforight {
                border: 1px solid black;
                display: flex;
                flex-direction: column;
                width: 50%;
                .inforighttop {
                    p {
                        text-align: center;
                    }
                }
                .inforightbottom {
                    display: flex;
                    flex-direction: row;
                    .left {
                        margin: auto;
                        display: flex;
                        img {
                            width: 5em;
                            margin: auto;
                        }
                    }
                    .right {
                        width: 70%;
                        display: flex;
                        flex-direction: column;
                        .top {
                            p {
                                text-align: center;
                                font-size: 22px;
                            }
                        }
                        .bottom {
                            display: flex;
                            justify-content: center;
                            p {
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
        .messageButton {
            display: flex;
            justify-content: center;
            margin-top: 1em;

            button {
                font-size: 20px;
                border-radius: 20px;
                cursor: pointer;
            }
        }
    }
  }
  
  @media only screen and (max-width: 768px) {
    .listing {
        width: 80%;
        margin: auto;
        margin-top: 4em;
        display: flex;
        flex-direction: column;
        padding: 1%;
        .header {
          border-bottom: 1px solid black;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 3em;
          .back-button {
              display: flex;
          }
          .title {
              vertical-align: middle;
              display: flex;
              font-size: 30px;
          }
          .empty {
      
          }
        }
        .body {
            display: flex;
            flex-direction: column;
            width: 90%;
            margin: auto;
            .logo {
                border: 1px solid black;
                display: flex;
                margin: auto;
                margin-bottom: 1em;
                img {
                    width: 100%;
                    margin: auto;
                }
            }
            .info {
                display: flex;
                flex-direction: column;
                font-size: 18px;
                .infoleft {
                    border: 1px solid black;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    padding: 1em;
                    margin-bottom: 1em;
                    img {
                        width: 5em;
                    }
                    .itemCondition {
    
                    }
                    .itemPrice {
    
                    }
                    .itemDescription {
    
                    }
                }
                .inforight {
                    border: 1px solid black;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    .inforighttop {
                        p {
                            text-align: center;
                        }
                    }
                    .inforightbottom {
                        display: flex;
                        flex-direction: row;
                        .left {
                            margin: auto;
                            display: flex;
                            img {
                                width: 5em;
                                margin: auto;
                            }
                        }
                        .right {
                            width: 70%;
                            display: flex;
                            flex-direction: column;
                            .top {
                                p {
                                    text-align: center;
                                    font-size: 22px;
                                }
                            }
                            .bottom {
                                display: flex;
                                justify-content: center;
                                p {
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
            .messageButton {
                display: flex;
                justify-content: center;
                margin-top: 2em;
    
                button {
                    font-size: 20px;
                    border-radius: 20px;
                    cursor: pointer;
                }
            }
        }
      }
  }
  