<div class="listing">
    <div class="header">
      <div class="back-button">
        <app-back-button></app-back-button>
      </div>
      <div class="title">
        <p><strong>{{ listing.title }}</strong></p>
      </div>
      <div class="empty"></div>
    </div>
    <div class="body" *ngIf="!seller || !listing"><app-loading></app-loading></div>
    <div class="body" *ngIf="seller && listing">
      <div class="logo">
        <img [src]="'http://localhost:8080/' + listing.images_folder" alt="UNCG logo"/>
      </div>
      <div class="info">
        <div class="infoleft">
            <div class="itemCondition"><p>Condition: <strong>{{ listing.condition }}</strong></p></div>
            <div class="itemPrice"><p>Price: <strong>${{ listing.price }}</strong></p></div>
            <div class="itemDescription"><p>Description: <strong>{{ listing.description }}</strong></p></div>
        </div>
        <div class="inforight">
            <div class="inforighttop"><p>Seller Details</p></div>
            <div class="inforightbottom">
                <div class="left">
                    <img src="../../../assets/profile.png" alt="">
                </div>
                <div class="right">
                    <div class="top"  style="cursor: pointer;" (click)="goToSellerProfile(seller.user_id)"><p><strong>{{ seller.full_name }}</strong></p></div>
                    <div class="bottom"><p>Rated: {{ seller.rating | number: '1.0-1' }} / 5<br><span style="color: gray;">Based on {{ seller.total_ratings }} reviews</span></p></div>
                </div>
            </div>
        </div>
      </div>
      <div class="messageButton">
        <button class="message" (click)="sendMessage(user.user_id, seller.user_id, 'Hi, is this available?')">Send Message</button>
      </div>
    </div>
  </div>
  
