<form (ngSubmit)="addListing()">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" [(ngModel)]="listing.title" name="title" placeholder="Title" required>
    </div>
    <div class="form-group">
        <input type="file" id="filetag" multiple accept=".jpg,.jpeg,.png,.gif">
    <img id="preview">
      </div>
    <div class="form-group">
      <label for="condition">Condition</label>
      <input type="text" class="form-control" id="condition" [(ngModel)]="listing.condition" name="condition" placeholder="Condition" required>
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input type="number" class="form-control" id="price" [(ngModel)]="listing.price" name="price" placeholder="Price" required>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" [(ngModel)]="listing.description" name="description" placeholder="Description" required></textarea>
    </div>
    <div class="form-group">
      <label for="imagesFolderPath">Images Folder Path</label>
      <input type="text" class="form-control" id="imagesFolderPath" [(ngModel)]="listing.images_folder_path" name="images_folder_path" placeholder="Images Folder Path">
    </div>
    <button type="submit" class="btn btn-primary">Add Listing</button>
  </form>
  