<body>
  <div class="section">
    <div class="container">
      <div class="row full-height justify-content-center">
        <div class="col-12 text-center align-self-center py-5">
          <div class="section pb-5 pt-5 pt-sm-2 text-center">
            <h1 class="mb-0 pb-3">
              <span (click)="onChange('loggingIn')">Log In </span>
              <span class="ml-4" (click)="onChange('signingUp')">Sign Up</span>
            </h1>
            <input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
            <label for="reg-log"></label>
            <div class="card-3d-wrap mx-auto">
              <div class="card-3d-wrapper">
                <div class="card-front">
                  <div class="center-wrap">
                    <div class="section text-center">
                      <h1 style="font-weight: 400;" class="mb-4 pb-3">Log In</h1>
                      <form (ngSubmit)="onLogin()" #loginForm="ngForm">
                        <div class="form-group">
                          <input type="email" class="form-style" placeholder="UNCG Email" [(ngModel)]="email" name="email" required>
                          <i class="input-icon uil uil-at"></i>
                        </div>
                        <div class="form-group mt-2">
                          <input type="password" class="form-style" placeholder="Password" [(ngModel)]="password" name="password" required>
                          <i class="input-icon uil uil-lock-alt"></i>
                        </div>
                        <button type="submit" class="btn mt-4">Log In</button>
                      </form>
                      <app-loading *ngIf="loading"></app-loading>
                      <div *ngIf="successMessage" style="font-size: medium; color: white; margin-top: 1em;"> {{ successMessage }}</div>
                      <div *ngIf="errorMessage" style="font-size: medium; color: red; margin-top: 1em;"> {{ errorMessage }}</div>
                    </div>
                  </div>
                </div>
                <div class="card-back">
                  <div class="center-wrap">
                    <div class="section text-center">
                      <h2 style="font-weight: 400;" class="mb-3 pb-3">Sign Up</h2>
                      <form (ngSubmit)="register()" #userForm="ngForm">
                        <div class="form-group">
                          <input type="text" class="form-style" placeholder="First Name" [(ngModel)]="first_name" [ngModelOptions]="{standalone: true}" required>
                          <i class="input-icon uil uil-user"></i>
                        </div>
                        <div class="form-group mt-2">
                          <input type="text" class="form-style" placeholder="Last Name" [(ngModel)]="last_name" [ngModelOptions]="{standalone: true}" required>
                          <i class="input-icon uil uil-user"></i>
                        </div>
                        <div class="form-group mt-2">
                          <input type="email" class="form-style" placeholder="UNCG Email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" required>
                          <i class="input-icon uil uil-at"></i>
                        </div>
                        <div class="form-group mt-2">
                          <input type="password" class="form-style" placeholder="Password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" required>
                          <i class="input-icon uil uil-lock-alt"></i>
                        </div>
                        <div class="form-group mt-2">
                          <input type="file" class="form-style" name="profilePicture" [(ngModel)]="profilePicture" [ngModelOptions]="{standalone: true}" required>
                          <i class="input-icon uil uil-image"></i>
                      </div>
                        <div class ="form-group mt-4">
                          <label class="role"><input type="radio" name="role" [(ngModel)]="role" value="Student" required>Student</label>
                          <label style="margin-left: 10px;" class="role"><input type="radio" name="role" [(ngModel)]="role" value="Faculty" required>Faculty</label>
                          <label style="margin-left: 10px;" class="role"><input type="radio" name="role" [(ngModel)]="role" value="Alumni" required>Alumni</label>
                        </div>
                        <button type="submit" class="btn mt-4">Register</button>
                      </form>
                      <app-loading *ngIf="loading"></app-loading>
                      <div *ngIf="successMessage" style="font-size: medium; color: white;"> {{ successMessage }}</div>
                      <div *ngIf="errorMessage" style="font-size: medium; color: red;"> {{ errorMessage }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>







