<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="main_div">
        <div id="logoImage">
            <img src="../../../assets/logo.png" alt="">
        </div>
        <div id="logInButton">
            <app-custom-button (click)="logIn()" buttonName = "Log In"></app-custom-button>
        </div>
        <div id="signUpButton">
            <app-custom-button (click)="signUp()" buttonName = "Sign Up"></app-custom-button>
        </div>
    </div>
</body>
</html>