#main_div {
    padding: 1em;
    display: flex;
    flex-direction: column;
    #logoImage {
        img {
            display: flex;
            margin: auto;
        }
        margin-bottom: 5em;
        margin-top: 5em;
    }
    #signUpButton, #logInButton {
        margin: auto;
        display: flex;
        margin-top: 1.2em;
    }
}