#main_div {
    padding: 1em;
    display: flex;
    flex-direction: column;
    #logoImage {
        img {
            display: flex;
            margin: auto;
        }
        margin-bottom: 5em;
        margin-top: 5em;
    }
    #signup_login {
        border: 1px solid rebeccapurple;
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: auto;
        #buttons {
            display: flex;
            margin: auto;
            margin-bottom: .5em;
            button {
                width: 5em;
                font-size: medium;
                border: none;
            }
            button.active {
                color: #0000FF
              }
        }
        #form {
            display: flex;
            margin: auto;
            flex-direction: column;
            border: 1px solid darkcyan;
            padding: .8em;
            #questionaire {
                input {
                    font-size: larger;
                    margin-bottom: .5em;
                }
                label {
                   
                }
                margin-bottom: 1em;
            }
            app-custom-button{
                margin: auto;
            }
        }
    }
}