<div class="inbox">
    <div class="header">
        <div class="back-button">
            <app-back-button></app-back-button>
        </div>
      <div class="title">
        <p>Inbox</p>
      </div>
      <div class="empty">

      </div>
    </div>
    <div class="body">
        <div class="logo">
            <img src="../../../assets/logo.png" alt="UNCG logo"/>
        </div>
        <div class="messages">
            <app-loading *ngIf="load"></app-loading>
            <div class="messageContacts" *ngFor="let message of messages">
                <app-message [activeUserId]="user?.user_id || 0" [otherUserId]="message.other_id"></app-message>
            </div>
            <div class="noMessages" *ngIf="messages?.length == 0"><p>No Messages</p></div>
        </div>
    </div>
  </div>