<div class="inbox">
    <div class="header">
        <div class="back-button">
            <app-back-button></app-back-button>
        </div>
      <div class="title">
        <p>Inbox</p>
      </div>
      <div class="empty">

      </div>
    </div>
    <div class="body">
        <div class="logo">
            <img src="../../../assets/logo.png" alt="UNCG logo"/>
        </div>
        <div class="messages">
            <div class="loading"><app-loading></app-loading></div>
            <div class="messageContacts" *ngFor="let message of messages">
                <app-message [activeUser]="user?.user_id || 0" [message_id]="message.message_id" [message]="message.message" [message_time]="message.message_time" [other_id]="message.otherId"></app-message>
            </div>
        </div>
    </div>
  </div>