.inbox {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 1%;
    margin-top: 5em;
    .header {
        border-bottom: 1px solid black;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3em;
        .back-button {
            display: flex;
        }
        .title {
            vertical-align: middle;
            display: flex;
            font-size: 30px;
        }
        .empty {

        }
    }
    .body {
        display: flex;
        flex-direction: column;
        .logo {
            display: flex;
            margin: auto;
            margin-bottom: 5em;
        }
        .messages{
            display: flex;
            padding: 1em;
            flex-direction: column;
            .loading {

            }
            .messageContacts {
                width: 90%;
                margin: auto;
            }
            .noMessages {
                display: flex;
                justify-content: center;
                p {
                    color: gray;
                    font-size: 20px;
                }
            }
        }
    }
}
@media only screen and (min-width: 768px) {
    .inbox {
        width: 50%;
        .body {
            .messages{
                .messageContacts {
                    width: 65%;
                    margin: auto;
                }
            }
        }
    }
}